* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Mulish', sans-serif;
}

body {
  background: var(--platform-aliases-background, #121214);

  padding: 72px 104px;
  display: grid;
  justify-content: center;
}

h1 {
  color: var(--brand-colors-explorer-mid, #02799D);
  font-family: 'Mulish', sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 72px;  
}

header p {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  color: var(--platform-aliases-texto-base, #C4C4CC);

  font-family: 'Mulish', sans-serif;
}

main {
  margin-top: 62px;

  display: grid;
  grid-template-columns: repeat(3, 370px);

  gap: 48px 60px;
}

.card {
  border-radius: 8px;
  background: var(--platform-aliases-shape-principal, #202024);
  border: 2px solid var(--platform-aliases-shape-terciria, #323238);
}

.card img {
  border-radius: 8px 8px 0 0;
}

.card h2 {
  color: var(--platform-aliases-ttulos, #E1E1E6);
  font-size: 36px;
  font-weight: 900;
  padding: 24PX 32PX 0;
}

.card p {
  color: var(--platform-aliases-texto-base, #C4C4CC);
  font-size: 18px;
  font-weight: 600;
  padding: 24px 32px 32px;
}
